html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 120px;
  padding: 10px 20px;
  flex-direction: row;
  background-color: #f4eee4;
}

header form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

header form div {
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  text-wrap: nowrap;
}
header form label {
  padding: 4px;
}

header form label:hover,
header form div input:hover,
header form div label:hover {
  background-color: lightgray;
  cursor: pointer;
}

.under-header-area {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top:120px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  display: flex;
  padding: 10px 15px;
  width: 100%;
}
